.contacts
    a.contact(href="tel:+79111597971")
        i.fas.fa-mobile-alt.contact__icon(aria-hidden="true")
        span.contact__text +7 911 159 79 71

    a.contact(href="mailto:t13.spb@gmail.com")
        i.fas.fa-envelope.contact__icon(aria-hidden="true")
        span.contact__text t13.spb@gmail.com

    a.vk-icon(href="https://vk.com/hancorg")
        i.fab.fa-vk(aria-hidden="true")